.swiper-pagination-bullet {
    margin-left: 5px;
}

.navbar-nav .nav-link:hover {
    color: #d02ef0;
}

.slider .main-slider .swiper-slide .container a {
    background: none;
    border: 1px solid #ffffff;
    color: #ffffff;
}

.slider .main-slider .swiper-slide .container a:hover {
    background: none;
    border: 1px solid #ffffff;
    color: #ffffff;
}

.navbar .navbar-button a {
    color: #d02ef0;
    border: 2px solid #d02ef0;
}

.navbar .navbar-button a:hover {
    color: #d02ef0;
}

.slider .button-next:hover {
    background: #09cfff;
    color: #ffffff;
    border-radius: 5px;
}

.price-list-price {
    color: #d02ef0;
}

.price-list-separator {
    border-bottom-color: #d02ef0;
}

.custom-button {
    background: #d02ef0;
}

.counter-box h6:after {
    display: none;
}

.hamburger-menu span {
    background: #d02ef0;
}

.cardContent h2 {
    background: #d02ef0;
}

.custom-button:hover {
    font-family: Outfit;
    background: none;
    color: #ffffff;
    background-image: linear-gradient(to right, #09cfff, #d02ef0);
}

.custom-button12 {
    background: #d02ef0;
}

.iconsocia:hover {
    background: linear-gradient(to right, #09cfff 0%, #d02ef0 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.wpcf7-validates-as-date {
    border-bottom: 0.3rem solid #09cfff;
}

.side-widget .address a {
    border: 1px solid #d02ef0;
    border-radius: 5px;
}

.side-widget .address a:hover {
    border: 1px solid #d02ef0;
}

.custom-button12:hover {
    background: #09cfff;
}

.custom-button-form {
    border-bottom: 0.3rem solid #d02ef0;
    background: none;
    border: 1px solid #ffffff;
    color: #ffffff;
}

.custom-button-form:hover {
    border-bottom: 0.3rem solid #d02ef0;
    background: none;
    border: 1px solid #ffffff;
    color: #ffffff;
}

.menueffect a:hover {
    color: #09cfff;
}

.slider .button-prev {
    background: #d02ef0;
    color: #ffffff;
    border-radius: 5px;
}

.slider .button-next {
    background: #d02ef0;
    color: #ffffff;
    border-radius: 5px;
}

.slider .button-prev:hover {
    background: #09cfff;
    color: #ffffff;
    border-radius: 5px;
}

.content-section {
    background: #d02ef0;
}

.component-systemTabs .cards .card img {
    border: 1px solid #ffffff;
    border-radius: 5px;
    padding-bottom: 74px;
    padding-top: 10px;
}

input#wp-block-search__input-1 {
    border-bottom: 0.3rem solid #d02ef0;
}

.content-section.bottom-dark-spacing:after {
    background: #d02ef0;
}

.section-title h2 {
    color: #d02ef0;
}

.image-box .time {
    color: #d02ef0;
}

.menueffect a:before {
    background-image: linear-gradient(to right, #d02ef0, #09cfff);
}

.side-content form button[type="submit"] {
    color: #d02ef0;
}

.side-image .side-timetable li b {
    color: #d02ef0;
}

.side-member figcaption {
    background: #d02ef0;
}

.custom-progress span {
    color: #d02ef0;
}

.bg-light {
    z-index: 8;
}

.menueffect a:after {
    display: none;
}

.dropdown-menu {
    background: #000;
}

.custom-progress .progress-bar .progress {
    background: #d02ef0;
}

.tab-wrapper .tab-nav li.active a {
    background: #d02ef0;
}

.tab-wrapper .tab-nav li.active a:hover {
    background: #09cfff;
}

.tab-wrapper .tab-item .tab-inner {
    background: #d02ef0;
}

.tab-wrapper .tab-item .tab-inner ul li span {
    color: #d02ef0;
}

.service-box {
    background: #d02ef0;
}

.service-box:before {
    background: #d02ef0;
}

.image-overlap-box figure {
    background: #d02ef0;
}

.image-overlap-box .content a:hover {
    color: #09cfff;
}

.video {
    background: #d02ef0;
}

.video a {
    color: #d02ef0;
}

.class-box figure {
    margin-bottom: 126px;
}

.text-box h5 {
    color: #d02ef0;
}

.recent-news figure {
    background: #d02ef0;
}

.recent-news .content h3 a {
    color: #d02ef0;
}

.recent-news .content small span {
    background: #d02ef0;
}

.blog-box figure {
    background: #d02ef0;
}

.blog-box .content h3 a {
    color: #d02ef0;
}

.blog-box .content blockquote {
    color: #d02ef0;
}

.sidebar .widget .widget-title {
    color: #d02ef0;
}

.sidebar .widget .widget-title:before {
    background: #d02ef0;
}

.sidebar .widget form input[type="submit"] {
    background: #d02ef0;
}

.sidebar .widget .categories li a {
    color: #d02ef0;
}

.branch-box h6 {
    color: #d02ef0;
}

.branch-box a {
    color: #d02ef0;
}

.member-box figcaption {
    background: #d02ef0;
}

.icon {
    background: #d02ef0;
}

.iconsv {
    background: none;
}

.iconk {
    color: #f5f5f5;
}

li a:hover {
    color: #d02ef0;
}

.iconk:hover {
    color: #09cfff;
}

.sidebar-service {
    background: none;
}

span.menu-service {
    background: none;
    border: 1px solid #ffffff;
    color: #ffffff;
}

span.menu-service:hover {
    background: none;
    border: 1px solid #ffffff;
    color: #ffffff;
}

span.menu-service.menuactive {
    background: none;
    border: 1px solid #ffffff;
    color: #ffffff;
}

.iconleft {
    background: linear-gradient(to right, #d02ef0 0%, #09cfff 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.iconleft:hover {
    background: linear-gradient(to right, #09cfff 0%, #d02ef0 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

a.menucolor {
    color: #d02ef0;
}

a.menucolor:hover {
    color: #09cfff;
}

.pagination .page-item .page-link {
    color: #d02ef0;
}

.footer .footer-info a {
    color: #d02ef0;
}

.footer .footer-social li a:hover {
    background: none;
}

.iconk {
    color: #d02ef0;
}

.iconk:hover {
    color: #09cfff;
}

.iconleft {
    color: #d02ef0;
}

.iconk {
    color: #d02ef0;
}

.iconk:hover {
    color: #09cfff;
}

.iconleft {
    color: #d02ef0;
}

span.menu-service {
    color: #d02ef0;
}

textarea#comment {
    border-bottom: 0.3rem solid #d02ef0;
    background: none;
    color: #ffffff;
}

input#author {
    border-bottom: 0.3rem solid #d02ef0;
    background: none;
    color: #ffffff;
}

input#email {
    border-bottom: 0.3rem solid #d02ef0;
    background: none;
    color: #ffffff;
}

input#url {
    border-bottom: 0.3rem solid #d02ef0;
    background: none;
    color: #ffffff;
}

h3#reply-title, span.required-field-message, span#email-notes {
    color: #ffffff;
}

.paketler2__on--arkayazi-1 {
    background: linear-gradient(to right bottom, #d02ef0, #09cfffd7);
}

.form__input {
    background: none;
    border: 1px solid #ffffff;
    color: #ffffff;
    border-radius: 5px;
    padding: 30px;
}

.form__input:focus {
    border-bottom: 0.3rem solid #d02ef0;
}

.form__input:focus:invalid {
    border-bottom: 0.3rem solid #d02ef0;
}

.form__radio-buton {
    border: 0.5rem solid #d02ef0;
}

.form__radio-buton::after {
    background-color: #d02ef0;
    border-radius: 5px;
}

.popup-input {
    border-radius: 5px;
    border: 1px solid #ffffff;
    color: #ffffff;
    background: none;
    font-size: 18px;
}

.popup-input:focus {
    border-bottom: 0.3rem solid #d02ef0;
    border-radius: 5px;
}

.popup-input:focus:invalid {
    border-bottom: 0.3rem solid #d02ef0;
}

.hizmetler-kutu--icon {
    background-image: linear-gradient(to right, #d02ef0, #09cfff);
}

.ozellik-kutu--icon {
    background-image: linear-gradient(to right, #d02ef0, #09cfff);
}

.post-kutu--icon {
    background-image: linear-gradient(to right, #d02ef0, #09cfff);
}

.yorum-kutu--icon {
    background-image: linear-gradient(to right, #d02ef0, #09cfff);
}

.ozellik-kutu-iletisim--icon {
    background-image: linear-gradient(to right, #d02ef0, #09cfff);
}

.baslik-4--icon {
    background-image: linear-gradient(to right, #d02ef0, #09cfff);
}

.yukaricik {
    background-image: linear-gradient(to right bottom, #d02ef0, #09cfff);
}

.footer-404 {
    background-image: linear-gradient(to right bottom, #d02ef0, #09cfff);
}

.form-alani {
    background-image: linear-gradient(to right bottom, #d02ef0, #09cfff);
}

.h2-baslik-hizmetler {
    background-image: linear-gradient(to right, #d02ef0, #09cfff);
}

.h2-baslik-hizmetler__paragraf {
    color: #d02ef0;
}

.h2-baslik-hizmetler-2 {
    color: #ffffff;
}

.side-widget small {
    color: #fff;
}

.swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
    background: #d02ef0;
}

.swiper-pagination .swiper-pagination-bullet {
    background: #d02ef0e6;
}

::-webkit-scrollbar-thumb {
    background: #0f0f0f;
}

.custom-buttonw1 {
    border-bottom: 0.3rem solid #d02ef0;
}

.iconsocia {
    background: linear-gradient(to right, #d02ef0 0%, #09cfff 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.paketler3__gorsel--1 {
    background-image: linear-gradient(to right bottom, #d02ef0, #09cfff)
}

.paketler3__on--arkayazi-1 {
    background-image: linear-gradient(to right bottom, #d02ef0, #09cfff)
}

p.countb {
    background: #d02ef0;
}

.icontops {
    background-image: linear-gradient(to right, #d02ef0, #09cfff);
    color: #fff;
    border-radius: 10px;
}

.icontops:hover {
    background-image: linear-gradient(to right, #09cfff, #d02ef0);
}

img.efc {
    z-index: 2;
    width: 100%;
    position: absolute;
    left: 0;
    top: -105px;
    background-size: cover !important;
    background-position: center !important;
}

.slider .main-slider .swiper-slide {
    background: #000000;
}

p.footerp {
    color: #ffffff;
}

input#submit {
    background: #d02ef0;
}

.custom-buttonw:hover {
    background: #d02ef0;
}

.comment-meta.commentmetadata a:hover {
    color: #09cfff;
}

a.comment-edit-link:hover {
    color: #09cfff;
}

p.logged-in-as a:hover {
    color: #09cfff;
}

.menu-item a:hover {
    color: #09cfff;
}

li a {
    color: #d02ef0;
}

.tag-cloud-link {
    color: #d02ef0;
}

.tagcloud a:hover {
    color: #09cfff;
}

li#recent-posts-5 a:hover {
    color: #09cfff;
}

input#s {
    border-bottom: 0.3rem solid #09cfff;
    background: none;
    color: #ffffff;
}

.popup-button {
    background: none;
    color: #ffffff;
    background-image: linear-gradient(to right, #d02ef0, #09cfff);
    transition: all 0.9s;
}

.popup-button:hover {
    background-image: linear-gradient(to right, #09cfff, #d02ef0);
    transition: all 0.9s;
}

.col-lg-10.fs {
    border: 1px solid rgb(255 255 255 / 12%);
}

.col-lg-2.fs, .col-lg-10.fs {
    margin-bottom: 10px;
}

.side-widget .address {
    color: #ffffff;
}

.about-section {
    background: #000000 url(https://garantiwebdesign.com/wordpress/metan/wp-content/uploads/2022/09/star.png) repeat top center;
}

.tokenomics-section {
    background: #000000 url(https://garantiwebdesign.com/wordpress/metan/wp-content/uploads/2022/09/star.png) repeat top center;
}

.info-featured {
    background: #000000 url(https://garantiwebdesign.com/wordpress/metan/wp-content/uploads/2022/09/star.png) repeat top center;
}

.exchanges-section {
    background: #000000 url(https://garantiwebdesign.com/wordpress/metan/wp-content/uploads/2022/09/star.png) repeat top center;
}

.serviceb-alani {
    background: #000000 url(https://garantiwebdesign.com/wordpress/metan/wp-content/uploads/2022/09/star.png) repeat top center;
}

.staking-section, .airdrop-section, .wallet-section {
    background: #000000 url(https://garantiwebdesign.com/wordpress/metan/wp-content/uploads/2022/09/star.png) repeat top center;
}

.yorumlar-alani-sayfa {
    background: #000000 url(https://garantiwebdesign.com/wordpress/metan/wp-content/uploads/2022/09/star.png) repeat top center;
}

.footer {
    background: #000000 url(https://garantiwebdesign.com/wordpress/metan/wp-content/uploads/2022/09/star.png) repeat top center;
}

.side-widget {
    background: #000000 url(https://garantiwebdesign.com/wordpress/metan/wp-content/uploads/2022/09/star.png) repeat top center;
    z-index: 9;
}

.team-section {
    background: #000000 url() repeat top center;
}

.ozellika {
    background: #000000 url() repeat top center;
}

.hizmetler-detay-sayfasi-alani {
    background: #000000 url() repeat top center;
}

.page-header {
    background: #000000 url(https://garantiwebdesign.com/wordpress/metan/wp-content/uploads/2022/09/star.png) repeat top center;
}

.paketler-alani {
    background: #000000 url() repeat top center;
}

.hizmetlerr-bolumu {
    background: #000000 url() repeat top center;
}

.iletisim-icon-alani {
    background: #000000 url() repeat top center;
}

.iletisim-form-alani {
    background: #000000 url() repeat top center;
}

.news-alani-sayfa {
    background: #000000 url(https://garantiwebdesign.com/wordpress/metan/wp-content/uploads/2022/09/star.png) repeat top center;
}

.tagcloud, .tag-cloud-link, .widget, .post-kutu, .ozellik-kutu-iletisim, .paketler4__on--onyazi, .paketler4__on--arkayazi-1, input#submit {
    background: none;
    border: 1px solid #ffffff;
}

img.postmask {
    position: relative;
    z-index: 5;
    margin-top: -537px;
}

.services-kutu2 {
    background: none;
    border: none;
}

.member-box figcaption {
    background-image: linear-gradient(to right, #d02ef0, #09cfff);
}

.member-box figcaption:hover {
    background-image: linear-gradient(to right, #09cfff, #d02ef0);
}

.icon-project-detail {
    font-size: 65px;
    color: #fff;
}

h3.baslik-2.h-yazi-margin-kucuk {
    font-size: 24px;
    color: #fff;
}

label {
    color: #ffffff;
}

/* Special Effects */
@keyframes move-twink-back {
    from {
        background-position: 0 0;
    }
    to {
        background-position: -10000px 5000px;
    }
}

.metaverse, .fadess {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: block;
}

.metaverse {
    background: #00000000 url(https://garantiwebdesign.com/wordpress/metan/wp-content/uploads/2022/09/star.png) repeat top center;
    z-index: 2;
}


.metaverse, .fadess, .clouds {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: block;
}

.clouds {
    background: transparent url(https://garantiwebdesign.com/wordpress/metan/wp-content/uploads/2022/11/cloudss3.png) repeat top center;
    z-index: 5;

    -moz-animation: move-clouds-back 200s linear infinite;
    -ms-animation: move-clouds-back 200s linear infinite;
    -o-animation: move-clouds-back 200s linear infinite;
    -webkit-animation: move-clouds-back 200s linear infinite;
    animation: move-clouds-back 200s linear infinite;
    opacity: 0.5;
    background-repeat: round;
    pointer-events: none;
}

@keyframes move-clouds-back {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 10000px 0;
    }
}

@-webkit-keyframes move-clouds-back {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 10000px 0;
    }
}

@-moz-keyframes move-clouds-back {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 10000px 0;
    }
}

@-ms-keyframes move-clouds-back {
    from {
        background-position: 0;
    }
    to {
        background-position: 10000px 0;
    }
}

.card {
    background: transparent url(http://2941) repeat;
    z-index: 3;

    -moz-animation: move-clouds-backs 20s linear infinite;
    -ms-animation: move-clouds-backs 20s linear infinite;
    -o-animation: move-clouds-backs 20s linear infinite;
    -webkit-animation: move-clouds-backs 20s linear infinite;
    animation: move-clouds-backs 20s linear infinite;
    opacity: 1;
}

@keyframes move-clouds-backs {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 250px 0;
    }
}

@-webkit-keyframes move-clouds-backs {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 250px 0;
    }
}

@-moz-keyframes move-clouds-backs {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 250px 0;
    }
}

@-ms-keyframes move-clouds-backs {
    from {
        background-position: 0;
    }
    to {
        background-position: 250px 0;
    }
}

/* Finish */
.dephh {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.dephh {
    padding: 0px;
    border-radius: 5px;
    padding-bottom: 6px;
}

.col-lg-2.fs {
    background-image: linear-gradient(to right, #d02ef0, #09cfff);
    border-radius: 5px;
    transition: all 0.9s;
}

.col-lg-2.fs:hover {
    background-image: linear-gradient(to right, #09cfff, #d02ef0);
    border-radius: 5px;
    transition: all 0.9s;
}

.col-lg-2.ff {
    background-image: linear-gradient(to right, #d02ef0, #09cfff);
    border-radius: 5px;
    transition: all 0.9s;
}

.col-lg-2.ff:hover {
    background-image: linear-gradient(to right, #09cfff, #d02ef0);
    border-radius: 5px;
    transition: all 0.9s;
}

.col-lg-4.ff {
    border: 1px solid rgb(255 255 255 / 12%);
}

.icon-div {
    padding: 0;
    text-align: center;
    height: auto;
    border-radius: 10rem;
    transition: .5s;
    margin-left: auto;
    margin-right: auto;
    font-size: 60px;
    z-index: 2;
    position: relative;
    background: none;
    line-height: 0;
    color: #ffffff;
}

h2.h2-baslik-anasayfa-wth2e {
    color: #ffffff;
    font-family: Outfit;
    font-size: 20px;
    font-weight: 900;
}

h2.h2-baslik-anasayfa-wth2e1 {
    color: #ffffff;
    font-family: Outfit;
    font-size: 25px;
    font-weight: 900;
}

.or56 {
    text-align: center;
    display: inline-block;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.iconwr {
    line-height: 20px;
    color: #fff;
    transition: .5s;
    font-size: 65px;
}

.dep:hover h4, .dep:hover h3 {
    color: #fff;
    position: relative;
}

.dep {
    position: relative;
    background: none;
}

.dep:before {
    position: absolute;
    -webkit-transition: all 0.8s ease;
    transition: all 0.8s ease;
    z-index: -1;
    border-radius: 5px;
}

.dep:before {
    bottom: 0;
    display: block;
    height: 100%;
    width: 0%;
    content: "";
    z-index: -1;
    background-image: linear-gradient(to right, #d02ef0, #09cfff);
    border-radius: 5px;
    left: 0;
}

.box-style2.box-primary-color2:hover::after {
    opacity: 1;
    visibility: visible;
}

.box-style2:hover {
    -webkit-animation: electricef2 0.4s both;
    animation: electricef2 0.4s linear;
}

.box-style2 {
    position: relative;
    -webkit-transition: .5s;
    transition: var(--transition);
    width: 100%;
    height: 100%;
    color: #000;
}

.box-style2 i {
    color: #000;
    font-size: 60px;
}

.box-style2:hover .class-button {
    visibility: visible;
    opacity: 1;
    margin-bottom: 0;
}

.box-style2 .class-button {
    visibility: hidden;
    opacity: 0;
    margin-bottom: -80px;
    transition: all .3s ease-in-out;
}

.box-style2 h2 {
    font-size: 22px;
    margin-top: -20px;
    font-family: ;
    font-weight: 600;
}

.mumu-images-text {
    z-index: 1;
}

img.mumu-images {
    border-radius: 5px;
}

.box-style2 .mumu-images-text {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0px 2px 9px 20px;
}

.mumu-images-text:before {
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    bottom: -5px;
    background-image: linear-gradient(to right, #d02ef0, #09cfff);
    border-radius: 5px;
    transition: all .9s ease-in-out;
    z-index: -1;
    left: 0;
    right: 0;
}

.mumu-images-text:after {
    position: absolute;
    content: "";
    height: 100%;
    width: 95%;
    bottom: 10px;
    background-image: linear-gradient(to right, #d02ef06d, #09cfff6d);
    border-radius: 5px;
    transition: all .9s ease-in-out;
    z-index: -2;
    right: 8px;
}

.dep:hover:before {
    opacity: 1;
    width: 100%;
}

.dep:hover h4, .dep:hover h3 {
    color: #fff;
    position: relative;
}

.dep {
    box-shadow: 0px 0px 5px #b5b5b561;
}

h3.prongl {
    font-family: Outfit;
    font-size: 22px;
    color: #fff;
    font-weight: 600;
}

h4.infostextgl {
    font-family: Outfit;
    font-size: 16px;
    font-weight: 400;
    color: #ffffff;
}

.row.ff {
    border-radius: 5px;
    pointer-events: none;
    cursor: default;
    z-index: -1;
}

.col-lg-3.ds {
    position: relative;
    z-index: 2;
    pointer-events: auto;
    cursor: default;
    width: 100%;
    text-align: center;
}

.services-kutu2--wt13 {
    color: #fff;
    font-family: Outfit;
    font-size: 16px;
    font-weight: 400;
}

img.dotr1 {
    margin-top: -310px;
    margin-left: -373px;
    z-index: 0;
    position: relative;
}

.col-xl-8.dds {
    z-index: 2;
}

.services-kutu2--wt131 {
    color: #fff;
    font-family: Outfit;
    font-size: 24px;
    font-weight: 400;
}

.iconsociai {
    background: linear-gradient(to right, #d02ef0 0%, #09cfff 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.iconsociai:hover {
    background: linear-gradient(to right, #09cfff 0%, #d02ef0 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

::selection {
    background-color: #d02ef0;
}

::-webkit-scrollbar-thumb {
    background-color: #0f0f0f;
}

.ozellik-kutu-yorumlar--icon {
    background-image: linear-gradient(to right, #d02ef0, #09cfff);
}

.services-kutu1--icon {
    background-image: linear-gradient(to right, #d02ef0, #09cfff);
}

.services-kutu2--icon {
    background-image: linear-gradient(to right, #d02ef0, #09cfff);
}

.services-kutu3--icon {
    background-image: linear-gradient(to right, #d02ef0, #09cfff);
}

b.fn a:hover {
    color: #09cfff;
}

li a:hover {
    color: #09cfff;
}

select {
    border-bottom: 0.3rem solid #d02ef0;
}

.wp-block-latest-posts__list a:hover {
    color: #d02ef0;
}

#tabs li {
    color: #ffffff;
    border-bottom: 4px solid #d02ef0;
}

.custom-buttonf {
    background: none;
    border: 1px solid #ffffff;
}

.custom-buttonf:hover {
    background: none;
    border: 1px solid #ffffff;
}

.beer-slider {
    border: 4px solid #d02ef0;
}

.button-next1 {
    color: #d02ef0;
    border: none;
    background: none;
    border-radius: 5px;
}

.button-next1:hover {
    border: none;
    background: none;
}

.button-prev1 {
    color: #d02ef0;
    border: none;
    background: none;
    border-radius: 5px;
}

.button-prev1:hover {
    border: none;
    background: none;
}

.footer .footer-social li a {
    background: none;
}

.wp-post-image {
    height: 100%;
}

.services-kutu2--yazi1 {
    width: 100%;
}

.or {
    color: #ffffff;
}

.footer .footer-menu li a {
    color: #ffffff;
}

.footer .footer-menu li:before {
    background: #ffffff;
}

.iconserv {
    color: #d02ef0;
    margin-top: 27rem;
    margin-bottom: -10px;
}

.iconserv:hover {
    color: #09cfff;
    margin-top: 27rem;
    margin-bottom: -10px;
}

h3.horoscope a {
    font-family: Outfit;
    font-size: 20px;
    color: #ffffff;
}

h3.horoscoped {
    font-family: Outfit;
    font-size: 16px;
    color: #000000;
    text-align: center;
}

p.windownd {
    font-family: Outfit;
    font-size: 16px;
    color: #000000;
    text-align: center;
}

.component-systemTabs .cards .card:hover img {
    box-shadow: 0px 0px 25px #ffffff;
}

.galeriservice {
    position: relative;
    z-index: 2;
}

.carousel-classes {
    z-index: 2;
}

.sticky {
    position: fixed;
    left: 0;
    width: 100%;
    background: #000000;
    transition: all 0.9s;
}

.posto {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    padding: 15px;
}

/* text primary */
.cardContent h2 {
    font-family: Outfit;
}

.component-systemTabs .cards .card .cardContent button {
    background: #d02ef0;
    font-family: Outfit;
}

.footer-menu1 a:hover {
    background: linear-gradient(to right, #d02ef0 0%, #09cfff 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.footer-menu1 a {
    color: #fff;
    font-size: 17px;
    margin-left: 10px;
    margin-right: 10px;
}

.footer-menu1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.footer-menu1:before, .footer .copyright:before {
    flex: 1;
    content: "";
    height: 1px;
    width: 50%;
    z-index: 1;
    background-color: #fff;
}

.footer-menu1:after, .footer .copyright:after {
    flex: 1;
    content: "";
    height: 1px;
    width: 50%;
    z-index: 1;
    background-color: #fff;
}

ul#menu-quick-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
}

.person {
    color: #ffffff;
    font-family: Outfit;
    font-size: 16px;
    font-weight: 400;
}

.ozellik-kutu-iletisim--yazi {
    color: #fff;
    font-family: Outfit;
    font-size: 20px;
    font-weight: 400;
}

.footer-info p {
    color: #ffffff;
    font-family: Outfit;
    font-size: 16px;
    font-weight: 400;
}

p {
    font-family: Outfit;
    font-size: 16px;
    font-weight: 400;
}

.h2-baslik-hizmetler-21__paragraf {
    font-family: Outfit;
    font-size: 16px;
    font-weight: 400;
}

.paketler3__icerik ul li {
    font-family: Outfit;
    font-size: 16px;
    font-weight: 400;
}

body {
    color: #000000;
    font-family: Outfit;
    font-size: 16px;
    font-weight: 400;
}

.paragraf {
    color: #000000;
    font-family: Outfit;
    font-size: 16px;
    font-weight: 400;
}

.paragraf-info {
    color: #ffffff;
    font-family: Outfit;
    font-size: 16px;
    font-weight: 400;
}

ul.post-categories a {
    color: #ffffff;
    font-family: Outfit;
    font-size: 16px;
}

span.date {
    color: #ffffff;
    font-family: Outfit;
    font-size: 18px;
}

span.category {
    color: #ffffff;
    font-family: Outfit;
    font-size: 16px;
}

span.tt {
    color: #ffffff;
    font-family: Outfit;
    font-size: 16px;
    font-weight: 400;
}

.paragraf-info a {
    color: #ffffff;
    font-family: Outfit;
    font-size: 16px;
    font-weight: 400;
}

.paragraf-sol-beyaz a {
    color: #000000;
    font-family: Outfit;
    font-size: 16px;
    font-weight: 400;
}

.paragraf-sol-beyaz-orta a {
    color: #000000;
    font-family: Outfit;
    font-size: 16px;
    font-weight: 400;
}

.paragraf-ahp a {
    color: #000000;
    font-family: Outfit;
    font-size: 16px;
    font-weight: 400;
}

.paragraf-pdetay a {
    color: #000000;
    font-family: Outfit;
    font-size: 16px;
    font-weight: 400;
}

.paragraf-404 a {
    color: #000000;
    font-family: Outfit;
    font-size: 16px;
    font-weight: 400;
}

.h2-baslik-hizmetler-yorum__yorum {
    color: #ffffff;
    font-family: Outfit;
    font-size: 16px;
    font-weight: 400;
}

.testimon-text {
    color: #000000;
    font-family: Outfit;
    font-size: 16px;
    font-weight: 400;
}

.post-kutu p {
    color: #ffffff;
    text-align: center;
    font-family: Outfit;
    font-size: 16px;
    font-weight: 400;
}

.services-kutu2--yazi1 {
    color: #ffffff;
    font-family: Outfit;
    font-size: 16px;
    font-weight: 400;
}

.h2-baslik-hizmetler-2__paragraf {
    color: #ffffff;
    font-family: Outfit;
    font-size: 16px;
    font-weight: 400;
}

.paragraf-popup {
    color: #ffffff;
    font-family: Outfit;
    font-size: 16px;
    font-weight: 400;
}

ul.post-categories {
    color: #d02ef0;
    font-family: Outfit;
    font-size: 16px;
}

.services-kutu2--yazi {
    font-family: Outfit;
    font-size: 16px;
}

/* headings */
.countt {
    background: #ffffff;
    font-family: Outfit;
}

.countb {
    background: #ffffff;
    font-family: Outfit;
}

.heading-white {
    color: #ffffff;
}

.component-systemTabs .cards .card .cardContent h2 {
    background: none;
    color: #ffffff;
    font-family: Outfit;
}

.h2-baslik-anasayfa {
    background-image: linear-gradient(to right, #ffffff, #09cfff);
    border-bottom: .1rem solid #d02ef0;
    font-family: Outfit;
    font-size: 32px;
    font-weight: 700;
}

.h2-baslik-anasayfa-ozel {
    color: #ffffff;
    font-family: Outfit;
    font-size: 32px;
    font-weight: 700;
}

.heading, .h2 {
    color: #ffffff;
    font-family: Outfit;
    font-size: 32px;
    font-weight: 700;
}

.h2-baslik-anasayfa-blog {
    background-image: linear-gradient(to right, #ffffff, #09cfff);
    font-family: Outfit;
    font-size: 32px;
    font-weight: 700;
}

.h2-baslik-ahb {
    background-image: linear-gradient(to right, #ffffff, #09cfff);
    font-family: Outfit;
    font-size: 32px;
    font-weight: 700;
}

.h2-baslik-bottom {
    background-image: linear-gradient(to right, #ffffff, #09cfff);
    font-family: Outfit;
    font-size: 32px;
    font-weight: 700;
}

.h2-baslik-404 {
    background-image: linear-gradient(to right, #ffffff, #09cfff);
    font-family: Outfit;
    font-size: 32px;
    font-weight: 700;
}

.h2-baslik-footer {
    background-image: linear-gradient(to right, #ffffff, #09cfff);
    font-family: Outfit;
    font-size: 32px;
    font-weight: 700;
}

.h2-baslik-iletisim-ozel {
    background-image: linear-gradient(to right, #ffffff, #09cfff);
    font-family: Outfit;
    font-size: 32px;
    font-weight: 700;
}

.h2-baslik-popup {
    background-image: linear-gradient(to right, #ffffff, #09cfff);
    font-family: Outfit;
    font-size: 32px;
    font-weight: 700;
}

.baslik-3-h {
    color: #ffffff;
    font-family: Outfit;
    font-size: 32px;
    font-weight: 700;
}

.baslik-33 {
    color: #ffffff;
    font-family: Outfit;
    font-size: 32px;
    font-weight: 700;
}

.baslik-star {
    color: #ffffff;
    font-family: Outfit;
    font-size: 32px;
    font-weight: 700;
}

.h2-baslik-hizmetler-yorum {
    color: #ffffff;
    font-family: Outfit;
    font-size: 32px;
    font-weight: 700;
}

.baslik-3s {
    color: #ffffff;
    font-family: Outfit;
}

.baslik-3white {
    font-family: Outfit;
}

.baslik-orta {
    font-size: 23px;
    color: #ffffff;
    font-family: Outfit;
    font-weight: 700;
}

.baslik-4 {
    color: #ffffff;
    font-family: Outfit;
    font-weight: 700;
}

.slider .main-slider .swiper-slide .container h1 {
    font-family: Outfit;
    color: #ffffff;
}

.slider .main-slider .swiper-slide .container p {
    font-family: Outfit;
    color: #ffffff;
}

.slider .main-slider .swiper-slide .container a {
    font-family: Outfit;
    border-radius: 5px;
    background-image: linear-gradient(to right, #d02ef0, #09cfff);
    transition: all 0.9s;
    border: none;
}

.slider .main-slider .swiper-slide .container a:hover {
    font-family: Outfit;
    border-radius: 5px;
    background-image: linear-gradient(to right, #09cfff, #d02ef0);
    transition: all 0.9s;
    border: none;
}

.custom-button {
    font-family: Outfit;
    border: none;
    color: #ffffff;
    background-image: linear-gradient(to right, #d02ef0, #09cfff);
}

.custom-buttonw {
    font-family: Outfit;
}

.baslik-sol {
    font-family: Outfit;
}

.member-box figcaption h6 {
    font-family: Outfit;
}

.member-box figcaption p {
    font-family: Outfit;
}

.h2-baslik-hizmetler-2 {
    font-family: Outfit;
    font-size: 32px;
    font-weight: 700;
}

.h2-baslik-hizmetler-21 {
    font-family: Outfit;
    font-size: 32px;
    font-weight: 700;
}

.h2-baslik-hizmetler-2111 {
    color: #d02ef0;
    font-family: Outfit;
    font-size: 32px;
    font-weight: 700;
}

.baslik-3-service {
    font-family: Outfit;
}

.paketler3__pr-yazi {
    font-family: Outfit;
}

.paketler3__pr-degeri {
    font-family: Outfit;
    font-size: 32px;
    font-weight: 700;
}

.baslik-3 {
    font-size: 23px;
    color: #ffffff;
    font-family: Outfit;
}

.footer .widget-title {
    background: linear-gradient(to right, #d02ef0 0%, #09cfff 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Outfit;
    font-weight: 700;
}

.page-header .container h2 {
    color: #fff;
    font-family: Outfit;
}

.page-header .container p {
    color: #fff;
    font-family: Outfit;
}

.page-header .container a {
    color: #fff;
    font-family: Outfit;
}

.page-header .container a:hover {
    color: #fff;
    font-family: Outfit;
}

.navbar .site-menu ul li a {
    font-family: Outfit;
    color: #fff;
}

.navbar .site-menu ul li a:hover {
    background: linear-gradient(to right, #d02ef0 0%, #09cfff 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.navbar-light .navbar-nav .nav-link {
    color: #fff;
}

.wpcf7 form.sent .wpcf7-response-output {
    border-color: #46b450;
    color: white;
}

/* text secondary */
ul.post-categories a:hover {
    color: #ffffff;
    font-family: Outfit;
    font-size: 16px;
}

.reply a:hover {
    color: #ffffff;
}

cite.fn a:hover {
    color: #ffffff;
}

time:hover {
    color: #ffffff;
}


/*
responsive
*/

@media only screen and (min-width: 1199px), only screen and (max-width: 1199px) {

    .iconk {
        color: #d02ef0;
    }

    .iconk:hover {
        color: #09cfff;
    }

    .icon {
        background: #d02ef0;
    }

    span.menu-service {
        color: #d02ef0;
    }

    .iconk {
        color: #d02ef0;
    }

    .iconk:hover {
        color: #09cfff;
    }

    .icon {
        background: #d02ef0;
    }

}

@media only screen and (min-width: 991px), only screen and (max-width: 1180px) {

    .iconk {
        color: #d02ef0;
    }

    .iconk:hover {
        color: #09cfff;
    }

    .icon {
        background: #d02ef0;
    }

    span.menu-service {
        color: #d02ef0;
    }

    .iconk {
        color: #d02ef0;
    }

    .iconk:hover {
        color: #09cfff;
    }

    .icon {
        background: #d02ef0;
    }

}

@media only screen and (min-width: 767px), only screen and (max-width: 767px) {

    .iconk {
        color: #d02ef0;
    }

    .iconk:hover {
        color: #09cfff;
    }

    .icon {
        background: #d02ef0;
    }

    span.menu-service {
        color: #d02ef0;
    }

    .iconk {
        color: #d02ef0;
    }

    .iconk:hover {
        color: #09cfff;
    }

    .icon {
        background: #d02ef0;
    }

}

@media (min-width: 820px) and (max-width: 820px) {

    .iconk {
        color: #d02ef0;
    }

    .iconk:hover {
        color: #09cfff;
    }

    .icon {
        background: #d02ef0;
    }

    span.menu-service {
        color: #d02ef0;
    }

    .iconk {
        color: #d02ef0;
    }

    .iconk:hover {
        color: #09cfff;
    }

    .icon {
        background: #d02ef0;
    }

}

@media (min-width: 767px) and (max-width: 850px) {

    .iconk {
        color: #d02ef0;
    }

    .iconk:hover {
        color: #09cfff;
    }

    .icon {
        background: #d02ef0;
    }

    span.menu-service {
        color: #d02ef0;
    }

    .iconk {
        color: #d02ef0;
    }

    .iconk:hover {
        color: #09cfff;
    }

    .icon {
        background: #d02ef0;
    }

}


@media (min-width: 1180px) and (max-width: 1200px) {

    .iconk {
        color: #d02ef0;
    }

    .iconk:hover {
        color: #09cfff;
    }

    .icon {
        background: #d02ef0;
    }

    span.menu-service {
        color: #d02ef0;
    }

    .iconk {
        color: #d02ef0;
    }

    .iconk:hover {
        color: #09cfff;
    }

    .icon {
        background: #d02ef0;
    }

}

@media (min-width: 1180px) and (max-width: 1180px) {

    .info-or {
        padding: 15rem 0 30rem;
        background: #fbfbfb;
    }

}

.icon {
    background: none;
}

.testimonial-card.testimonial-card {
    background-image: linear-gradient(to right, #d02ef0, #09cfff);
}

.testimonial-card.testimonial-card:hover {
    background-image: linear-gradient(to right, #09cfff, #d02ef0);
}

.testimon-text {
    color: #ffffff;
}

.quote {
    opacity: 0.4;
    transform: rotate(10deg) translate(-10px, -40px);
    color: #ffffff;
}

.testimonialimg {
    height: 116px;
}

.iconleft {
    font-size: 70px;
}

input[type="text"] {
    font-size: 18px;
}

.iconsv {
    background-image: linear-gradient(to right, #d02ef0, #09cfff);
}

.iconsociaf {
    color: #fff;
}

.iconsociaf:hover {
    color: #fff;
}

.footer .footer-social li a {
    background-image: linear-gradient(to right, #d02ef0, #09cfff);
    border: none;
}

.footer .footer-social li a:hover {
    background-image: linear-gradient(to right, #09cfff, #d02ef0);
    border: none;
}

p {
    color: #ffffff;
}

@media (min-width: 200px) and (max-width: 1180px) {
    .clouds {
        background-repeat: repeat;
    }
}